body, html, #app {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff!important;
}
#component-wrap, #rootComponent {
	height: 100%;
	min-height: 100%;
}
* {
	box-sizing: border-box;
}
.remove {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}
.position-relative {
	position: relative;
}
.selected-component {
	outline: .5rem dashed #3FADFF;
	position: relative;
	&:not(.hide-tag):after {
		content: "SELECTED";
		position: absolute;
		top: -1px;
		right: -1px;
		padding: .5rem 1rem;
		font-size: 2rem;
		font-weight: bold;
		background-color: #E91E63;
		border: 1px solid #ddd;
		color: #ffffff;
		-webkit-border-radius: 4px 0 4px 0;
		-moz-border-radius: 4px 0 4px 0;
		border-radius: 4px 0 4px 0;
	}
}